.split-view {
    display: flex;
}
.user-edit-list {
    border: 1px solid black;
    display: block;
    white-space: normal;
    padding: 16px;
}
.user-edit-list__link {
    display: block;
}
.edit-form {
    border: 1px solid black;
    border-left: none;
    flex-grow: 1;
    padding: 16px;
}

.edit-form__table {
    width: 100%;
}
.edit-form__table input[type=tel],.edit-form__table input[type=text],.edit-form__table input[type=email],.edit-form__table textarea {
    width: 100%;
}

.add-form {

}
